common/resources/crack_hash_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://ccfit.nsu.ru/schema/crack-hash-response"
           xmlns:chr="http://ccfit.nsu.ru/schema/crack-hash-response">
           
    <xs:element name="CrackHashWorkerResponse">
        <xs:annotation>
            <xs:documentation>Ответ воркера с найденными совпадениями</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RequestId" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>GUID исходного запроса</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Results">
                    <xs:annotation>
                        <xs:documentation>Список найденных слов</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="word" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
